<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Magaza_Hareket.Properties.Settings.MagazaHareketConnectionString"
            connectionString="Data Source=demet;Initial Catalog=MagazaHareket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Magaza_Hareket.Properties.Settings.shopConnectionString"
            connectionString="Data Source=demet;Initial Catalog=shop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>